.kashmiriFestivals {
  margin: 0;
  width: 555px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-family: 'Mona-Sans';
  display: inline-block;
  max-width: 100%;
}
.festivalsHeader {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.accordingToKashmiri {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
}
.festivalsGrid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.socialFestivals {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-family: 'Mona-Sans';
}
.festivalTypeRows {
  width: 196px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-open-sans);
}
.socialFestivalColumnsChild {
  width: 24px;
  height: 24px;
  position: relative;
}
.socialFestivalColumns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.pann {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 48px;
}
.socialFestivals1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameChild {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.goraTrai {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.festivalTypeContent,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.festivalTypeContent {
  flex-direction: column;
  gap: var(--gap-base);
}
.religiousFestivalColumnsChild {
  width: 24px;
  height: 24px;
  position: relative;
}
.religiousFestivalColumns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.zangtry {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.festivalTypeColumns,
.religiousFestivals {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.religiousFestivals {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.festivalTypeColumns {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--offset-1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-5xl) var(--padding-20xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 237px;
}
.seasonalFestivals {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-family: 'Mona-Sans';
}
.seasonalFestivalsWrapper {
  width: 238px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.frameItem {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.navSheen {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.festivalTypeColumns1,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.festivalTypeColumns1 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--offset-1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-5xl) var(--padding-116xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 237px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-open-sans);
}
.religiousFestivals1 {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.religiousFestivalsWrapper {
  width: 234px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: 'Mona-Sans';
}
.frameInner {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.jeyeshtAshtami {
  position: relative;
  line-height: 32px;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.groupIcon {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.shravanaPunim {
  position: relative;
  line-height: 32px;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameChild1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.zarmaSatam {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameChild2 {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.kawPunim {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.frameDiv,
.frameParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameDiv {
  flex-direction: column;
  gap: var(--gap-base);
}
.frameChild3 {
  width: 24px;
  height: 24px;
  position: relative;
}
.frameWrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.herathShivratri {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.frameParent5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.festivalTypeColumns2,
.festivalTypes,
.frameParent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.festivalTypeColumns2 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--offset-1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-5xl) var(--padding-20xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 237px;
}
.festivalTypes {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xl);
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.festivalsContent,
.festivalsContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.festivalsContent {
  width: 1000px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.festivalsContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-101xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--black);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1050px) {
  .kashmiriFestivals {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
}
@media screen and (max-width: 750px) {
  .festivalsContent {
    gap: var(--gap-9xl);
  }
  .festivalsContentWrapper {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kashmiriFestivals {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .accordingToKashmiri {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .socialFestivals, .seasonalFestivals, .religiousFestivals1 {
    font-size: var(--font-size-xl);
    line-height: 24px;
  }
  .goraTrai,
  .pann,
  .zangtry {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .festivalTypeColumns {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .navSheen {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .festivalTypeColumns1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-69xl);
    box-sizing: border-box;
  }
  .herathShivratri,
  .jeyeshtAshtami,
  .kawPunim,
  .shravanaPunim,
  .zarmaSatam {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .festivalTypeColumns2 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
