.frameChild {
  width: 1440px;
  height: 1516px;
  position: relative;
  background-color: var(--offset-1);
  display: none;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.image9Icon,
.kashmiriInstruments {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.kashmiriInstruments {
  margin: 0;
  width: 657px;
  font-size: inherit;
  line-height: 80px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.image9Icon {
  height: 458px;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.cameraButtonIcon {
  right: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cameraButtonIcon,
.image12Icon,
.imageCaption {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.image12Icon {
  right: 1px;
  left: 1px;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.imageCaption {
  margin: 0 !important;
  right: 0;
  left: 0;
}
.image9Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.aHammeredDulcimer,
.santoor {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.aHammeredDulcimer {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.galleryItems,
.instrumentDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instrumentDetails {
  align-self: stretch;
  gap: var(--gap-base);
}
.galleryItems {
  width: 458px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.avatarChild {
  width: 458px;
  position: relative;
  border-radius: var(--br-xs);
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.avatar,
.image10Icon {
  overflow: hidden;
  max-width: 100%;
}
.image10Icon {
  margin-top: -2px;
  height: 462px;
  flex: 1;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.avatar {
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(/public/rectangle-187848@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.aStringInstrument,
.rabab {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.aStringInstrument {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.galleryItems1,
.rababParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rababParent {
  align-self: stretch;
  gap: var(--gap-base);
}
.galleryItems1 {
  width: 458px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 542px;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.aTypeOf,
.galleryItemsChild,
.noet {
  align-self: stretch;
  position: relative;
}
.galleryItemsChild {
  height: 458px;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.aTypeOf,
.noet {
  line-height: 24px;
}
.aTypeOf {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.galleryItems2,
.noetParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.noetParent {
  align-self: stretch;
  gap: var(--gap-base);
}
.galleryItems2 {
  width: 458px;
  margin: 0 !important;
  position: absolute;
  top: 634px;
  left: 0;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frameItem,
.image11Icon {
  position: absolute;
  object-fit: cover;
}
.frameItem {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 100%;
  height: 100%;
  display: none;
}
.image11Icon {
  top: calc(50% - 398px);
  left: calc(50% - 233px);
  width: 466px;
  height: 699px;
}
.rectangleGroup {
  align-self: stretch;
  height: 458px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/rectangle-187848@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.aBowedShortNecked,
.sarangi {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.aBowedShortNecked {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.galleryItems3,
.sarangiParent {
  flex-direction: column;
  align-items: flex-start;
}
.sarangiParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.galleryItems3 {
  width: 458px;
  margin: 0 !important;
  position: absolute;
  top: 634px;
  left: 542px;
  gap: var(--gap-13xl);
}
.aboutUsInner,
.galleryItems3,
.instrumentGallery,
.rectangleParent {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.instrumentGallery {
  align-self: stretch;
  height: 1188px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  gap: 56px 80px;
  z-index: 1;
  font-size: var(--font-size-xl);
  justify-content: center;
  
  
}
.aboutUsInner,
.rectangleParent {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
.rectangleParent {
  flex: 1;
  background-color: var(--offset-1);
  flex-direction: column;
  padding:  var(--padding-201xl) var(--padding-87xl);
  gap: var(--gap-23xl);
}
.aboutUsInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-101xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--black);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-50xl);
    box-sizing: border-box;
  }
  .aboutUsInner {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .kashmiriInstruments {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
  .aboutUsInner {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: var(--gap-2xl);
    padding: var(--padding-23xl) var(--padding-91xl) var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kashmiriInstruments {
    font-size: var(--font-size-15xl);
    line-height: 48px;
  }
  .noet,
  .rabab,
  .santoor,
  .sarangi {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .aboutUsInner {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
