.missionDividerIcon {
  height: 363px;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 326px;
}
.ourMission {
  margin: 0;
  width: 414px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.forEveryDisplaced {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
}
.missionContent,
.missionContentWrapper,
.ourMissionParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ourMissionParent {
  width: 443px;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 443px;
}
.missionContent,
.missionContentWrapper {
  flex-direction: row;
}
.missionContent {
  flex: 1;
  gap: var(--gap-41xl);
}
.missionContentWrapper {
  align-self: stretch;
  padding: 0 var(--padding-7xs) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
}
.ourVision {
  margin: 0;
  width: 414px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.zuvIsA {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
}
.ourVisionParent {
  width: 443px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 443px;
  max-width: 100%;
}
.visionDividerIcon {
  height: 363px;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 326px;
}
.visionContent,
.visionContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.visionContent {
  flex: 1;
  gap: var(--gap-41xl);
}
.visionContentWrapper {
  align-self: stretch;
  padding: 0 var(--padding-7xs) 0 var(--padding-3xs);
  box-sizing: border-box;
}
.ourGoal {
  margin: 0;
  width: 280px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.ourGoalIs {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
}
.goalDescription {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.progressBarIcon {
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  width: 298px;
  height: 474px;
}
.progressBarIcon,
.progressBarIcon1,
.progressBars {
  align-self: stretch;
  max-width: 100%;
}
.progressBarIcon1 {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  width: 298px;
  height: 474px;
}
.progressBars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.goalDetails {
  width: 980px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.content,
.goalDetails,
.missionVision {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.missionVision {
  width: 1020px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-91xl);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--black);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1050px) {
  .missionContent,
  .visionContent {
    gap: var(--gap-11xl);
  }
  .missionVision {
    gap: var(--gap-36xl);
  }
  .progressBarIcon {
    height: 400px;
  }
  .progressBarIcon1 {
    height: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .ourMission {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
  .ourMissionParent {
    flex: 1;
  }
  .missionContent {
    flex-wrap: wrap;
  }
  .ourVision {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
  .ourVisionParent {
    flex: 1;
  }
  .visionContent {
    flex-wrap: wrap;
  }
  .ourGoal {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
  .progressBars {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 750px) {
  .ourMissionParent,
  .ourVisionParent {
    min-width: 100%;
  }
  .progressBars {
    gap: var(--gap-base);
  }
  .goalDetails,
  .missionVision {
    gap: var(--gap-8xl);
  }
  .missionDividerIcon {
    height: 300px;
  }
  .visionDividerIcon {
    height: 300px;
  }
  .progressBarIcon {
    height: 300px;
  }
  .progressBarIcon1 {
    height: 300px;
  }
}
@media screen and (max-width: 750px) {
  .progressBarIcon {
    height: 300px;
  }
  .progressBarIcon1 {
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .ourGoal,
  .ourMission,
  .ourVision {
    font-size: var(--font-size-15xl);
    line-height: 48px;
  }
  .missionDividerIcon {
    height: 200px;
  }
  .visionDividerIcon {
    height: 200px;
  }
  .progressBarIcon {
    height: 200px;
  }
  .progressBarIcon1 {
    height: 200px;
  }
}
