.emailIcon, .emailIcon1 {
  width: 440px;
  position: relative;
  border-radius: var(--br-base);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.emailIcon1 {
  display: none;
}
.sheerChai {
  margin: 0;
  width: max-content;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-family: 'Mona-Sans';
  display: inline-block;
}
.noonChaiOr {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.dishItems,
.inputFieldrqmlabq {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputFieldrqmlabq {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  gap: var(--gap-xs);
  min-width: 333px;
}
.dishItems {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .emailIcon {
    flex: 1;
  }
  .dishItems {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1160px) {
  .emailIcon {
    display: none;
  }
  .emailIcon1 {
    display: flex;
  }
  .inputFieldrqmlabq {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .sheerChai {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .dishItems {
    gap: var(--gap-5xl);
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sheerChai {
    font-size: 20px;
    line-height: 28px;
  }
  .dishItems {
    padding: var(--padding-20xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .noonChaiOr {
    font-size: 14px;
    line-height: 20px;
  }
}
