.dishItemsChild, .dishItemsChild1 {
  width: 440px;
  position: relative;
  border-radius: var(--br-base);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.dishItemsChild1 {
  display: none;
}
.monji {
  width: 283px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-family: 'Mona-Sans';
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blankLine,
.kohlrabiIsA,
.monji,
.muchLikeHaak {
  margin: 0;
}
.kohlrabiIsAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.dishItems,
.monjiParent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.monjiParent {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xs) 0 0;
  gap: var(--gap-xs);
  min-width: 333px;
}
.dishItems {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .dishItemsChild {
    flex: 1;
  }
  .dishItems {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1160px) {
  .dishItemsChild {
    display: none;
  }
  .dishItemsChild1 {
    display: flex;
  }
  .monji {
    align-items: center;
    justify-content: center;
  }
  .monjiParent {
    align-items: center;
  }
}
@media screen and (max-width: 1050px) {
  .monji {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .dishItems {
    gap: var(--gap-5xl);
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .monji {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .dishItems {
    padding: var(--padding-20xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
