.roth {
  width: max-content;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-family: 'Mona-Sans';
  display: flex;
}
.blankLine,
.roth,
.rothIsA,
.rothIsUsed {
  margin: 0;
}
.rothIsAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.frontend {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 333px;
  max-width: 100%;
}
.divChakrastackChild, .divChakrastackChild1 {
  width: 440px;
  position: relative;
  border-radius: var(--br-base);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.divChakrastackChild1 {
  display: none;
}
.divChakrastack {
  align-self: stretch;
  background-color: var(--offset-1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .divChakrastackChild {
    flex: 1;
  }
  .divChakrastack {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1160px) {
  .divChakrastackChild {
    display: none;
  }
  .divChakrastackChild1 {
    display: flex;
  }
  .frontend {
    align-items: center;
  }
}
@media screen and (max-width: 1050px) {
  .roth {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .divChakrastack {
    gap: var(--gap-5xl);
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .roth {
    font-size: var(--font-size-xl);
    line-height: 28px;
  }
  .divChakrastack {
    padding: var(--padding-20xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .rothIsA, .rothIsUsed {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
}
