.dishCardsIcon {
  width: 440px;
  position: relative;
  border-radius: var(--br-base);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.roganjosh {
  margin: 0;
  width: 257px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.blankLine,
.blankLine1,
.itIsA,
.roganJoshIs,
.theDishWas {
  margin: 0;
}
.roganJoshIsContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}
.footerCssvnknw,
.georgeChristeas {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.georgeChristeas {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  gap: var(--gap-xs);
  min-width: 333px;
}
.footerCssvnknw {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-201xl);
  gap: 40px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .dishCardsIcon {
    flex: 1;
  }
  .footerCssvnknw {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .roganjosh {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .footerCssvnknw {
    gap: var(--gap-5xl);
    padding: var(--padding-20xl) var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .roganjosh {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .footerCssvnknw {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
