.headerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-101xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--white);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 750px) {
  .headerWrapper {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
