.imgHolderIcon {
  object-fit: cover;
}
.img,
.imgHolderIcon,
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  background-color: var(--color-darkslategray-100);
  z-index: 1;
}
.img {
  margin: 0 !important;
}
.exploringTheAncient,
.originOfKashmir {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.originOfKashmir {
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
}
.exploringTheAncient {
  font-size: var(--font-size-5xl);
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-inter);
}
.header,
.originOfKashmirParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.originOfKashmirParent {
  width: 900px;
  margin: 0 !important;
  padding-left: 140px;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 2;
}
.header {
  height: 500px;
  flex: 1;
  justify-content: flex-end;
  padding: var(--padding-146xl) 0 var(--padding-41xl);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--white);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1050px) {
  .originOfKashmir {
    font-size: var(--font-size-26xl);
    line-height: 64px;
  }
  .originOfKashmirParent {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .originOfKashmir {
    font-size: var(--font-size-5xl);
    line-height: 40px;
  }
  .exploringTheAncient {
    font-size: var(--font-size-xl);
    line-height: 25px;
  }
  .header {
    height: 300px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  .originOfKashmir {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .exploringTheAncient {
    font-size: var(--font-size-sm);
  }
  .header {
    height: 200px;
  }
}
