.mainHeading {
  width: 0;
  height: 60px;
  position: absolute;
  margin: 0 !important;
  top: 1989px;
  right: 432px;
  line-height: 60px;
  font-weight: 500;
  display: inline-block;
}
.frameChild {
  height: 701px;
  width: 1440px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.heroImage {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #007BFF);
  z-index: 1;
}
.letsPreserveThe {
  color: var(--white);
}
.essenceOfKashmir {
  color: var(--secondary-color);
}
.itsCultureHeritage,
.letsPreserveTheEssenceOfK {
  margin: 0;
}
.letsPreserveTheContainer {
  margin: 0;
  width: 1155px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: 'Mona-Sans';
  display: inline-block;
  z-index: 2;
  font-weight: 700;
}
.homeInner,
.rectangleParent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-xl);
  position: relative;
  background-image: url(/public/Rectangle\ 187791.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 701px;
}
.homeInner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-101xl);
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--white);
  font-family: var(--font-open-sans);
}
.measuringOurImpact {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 400;
  font-family: 'Mona-Sans';
  font-weight: 700;
}
.m {
  width: 250px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
}
.childrenFedYearly {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: left;
}
.metricValues {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.k {
  max-width: 250px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
}
.sponsoreYearly {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: left;
}
.metricValues1 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  width: 250px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
}
.countriesSupported {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: left;
}
.metricItems,
.metricValues2 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.metricItems {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
  gap: 100px;
}
.impactContent,
.impactMetrics {
  justify-content: flex-start;
  max-width: 1500px;
}
.impactMetrics {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 71px;
  box-sizing: border-box;
  font-size: 36px;
}
.impactContent {
  max-width: 1500px;
  flex-direction: column;
  gap: var(--gap-21xl);
  font-family: 'Mona-Sans';
}
.home,
.impactContent,
.impactContentWrapper {
  display: flex;
  align-items: flex-start;
}
.impactContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 60px var(--padding-xl) 60px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--black);
  background-color: #EFF7FF;
  margin-bottom: 100px;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-mona-sans);
}
@media screen and (max-width: 1200px) {
  .impactMetrics {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .homeInner {
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .metricItems {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangleParent {
    height: 400px;
  }
  .letsPreserveTheContainer {
    font-size: 40px;
  }
  .m, .childrenFedYearly, .k, .sponsoreYearly, .div, .countriesSupported {
    text-align: center;
  }
  .metricValues, .metricValues1, .metricValues2 {
    align-items: center;
  }
  .m {
    width: 100%;
  }
  .k {
    width: 100%;
  }
  .div {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mainHeading {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
  .letsPreserveTheContainer,
  .measuringOurImpact {
    line-height: 64px;
  }
  .impactContent {
    gap: var(--gap-xl);
  }
  .rectangleParent {
    height: 300px;
    padding-top: 30px;
  }
  .letsPreserveTheContainer {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .mainHeading {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .letsPreserveTheContainer {
    font-size: 22px;
    line-height: 28px;
  }
  .letsPreserveThe {
    display: block;
  }
  .homeInner {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .measuringOurImpact {
    font-size: var(--font-size-15xl);
    line-height: 48px;
  }
  .m {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .childrenFedYearly {
    font-size: 14px;
    line-height: 20px;
  }
  .k {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .sponsoreYearly {
    font-size: 14px;
    line-height: 20px;
  }
  .div {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .countriesSupported {
    font-size: 14px;
    line-height: 20px;
  }
  .impactContentWrapper {
    box-sizing: border-box;
    margin-bottom: 80px;
  }
  .rectangleParent {
    height: 266px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .metricItems {
    gap: 40px;
  }
  .impactMetrics {
    padding: 0px;
  }
}
