.speakerAvatarsChild {
  width: 172px;
  height: 172px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
}
.adityaRajKaul,
.journalist {
  position: relative;
  line-height: 24px;
  justify-content: center;
}
.adityaRajKaul {
  font-weight: 600;
  justify-content: center;
}
.journalist {
  display: flex;
  width: 100%;
}
.journalistWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}
.adityaRajKaulParent {
  width: 100%;
  flex-direction: column;
  gap: var(--gap-7xs);
  text-align: center;
}
.adityaRajKaulParent,
.speakerAvatars,
.speakerAvatarsInner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.speakerAvatarsInner {
  flex-direction: row;
  width: 100%;
}
.speakerAvatars {
  flex-direction: column;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-inter);
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .adityaRajKaul {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
}
