.loremIpsumDolor,
.loremIpsumDolor1 {
  position: relative;
  display: inline-block;
}
.loremIpsumDolor {
  margin: 0;
  align-self: stretch;
  height: 84px;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: 'Mona-Sans';
  display: flex;
  align-items: center;
  font-weight: 700;
}
.loremIpsumDolor1 {
  width: 443px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  max-width: 100%;
  z-index: 1;
}
.storyDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.exploreOurFocus {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.chevronRightIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chevronRightWrapper,
.storyCardContent,
.storyCardContent1,
.storyLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevronRightWrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.storyCardContent,
.storyCardContent1,
.storyLink {
  width: 240px;
  flex-direction: row;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.storyCardContent, .storyCardContent1 {
  width: 454px;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 454px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: 'Mona-Sans';
}
.storyCardContent1 {
  display: none;
}
.knowMore {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 99px;
  font-size: 18px;
}
.readMoreLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
}
.readMoreLink {
  width: max-content;
  border-radius: var(--br-xs);
  background-color: var(--secondary-color);
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-lg);
}
@media screen and (max-width: 1050px) {
  .storyCardContent, .storyCardContent1 {
    flex: 1;
  }
}
@media screen and (max-width: 859px) {
  .storyCardContent1 {
    width: 1;
    display: flex;
    align-items: center;
  }
  .storyCardContent {
    align-items: center;
  }
  .loremIpsumDolor {
    align-self: flex-start;
  }
  .readMoreLink {
    width: 443px;
  }
}
@media screen and (max-width: 750px) {
  .loremIpsumDolor {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .storyCardContent, .storyCardContent1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .loremIpsumDolor {
    font-size: 20px;
    line-height: 24px;
    height: 60px;
  }
  .loremIpsumDolor1 {
    font-size: 14px;
    line-height: 20px;
  }
  .readMoreLink, .link {
    width: 100%;
  }
  .knowMore {
    font-size: 16px;
  }
}
