@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  line-height: 1.15;
  background-color: var(--background-site);
  font-size: 62.5%;
  font-family: Inter, 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--background-site);
  color: var(--text-high-contrast);
  font-size: 1.6rem;
  line-height: 1.65;
}
.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --detail-border: rgba(0, 0, 0, 0.15);
  --detail-link: rgba(0, 0, 0, 0.1);
  --transparent: transparent;
  --overlay-light: rgba(255, 255, 255, 0.7);
  --overlay-dark: rgba(0, 0, 0, 0.7);
}