.wantToMake {
  margin: 0;
  width: 533px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-family: 'Mona-Sans';
  display: inline-block;
  max-width: 100%;
}
.image7Icon {
  width: 305px;
  height: 284px;
  position: relative;
  border-radius: var(--br-xs);
  object-fit: cover;
  display: none;
}
.donateNow,
.withOurDonation {
  position: relative;
  line-height: 24px;
}
.withOurDonation {
  align-self: stretch;
}
.donateNow {
  font-size: 18px;
  flex: 1;
}
.donationAction,
.donationParagraph {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.donationAction {
  width: max-content;
  border-radius: var(--br-xs);
  background-color: var(--secondary-color);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: 'Mona-Sans';
}
.donationParagraph {
  width: 659px;
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.groupIcon {
  height: 100%;
  width: 100%;
  position: relative;
}
.groupWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl);
}
.groupIcon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.donationImage,
.imageContainer {
  display: flex;
  flex-direction: column;
}
.imageContainer {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
}
.donationImage {
  height: 138.8px;
  width: 145px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-2);
  box-sizing: border-box;
}
.donationContent,
.wantToMakeADifferenceParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.wantToMakeADifferenceParent {
  border-radius: var(--br-xl);
  background-color: var(--offset-2);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-23xl) var(--padding-43xl) var(--padding-23xl)
    var(--padding-51xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .wantToMake {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .donationContent {
    flex-wrap: wrap;
  }
  .wantToMakeADifferenceParent {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .imageContainer {
    width: 100px;
    gap: 0;
    margin-left: 20px;
  }
  .groupIcon {
    width: 40px;
  }
}
@media screen and (max-width: 934px) {
  .donationAction {
    position: absolute;
    bottom: 150px;
  }
  .donationImage {
    margin-left: 170px;
  }
}
@media screen and (max-width: 750px) {
  .donationAction {
    position: absolute;
    bottom: 120px;
  }
  .donationImage {
    margin-left: 170px;
  }
}
@media screen and (max-width: 450px) {
  .wantToMake {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .wantToMakeADifferenceParent {
    padding: 42px 26px 42px 26px;
  }
  .withOurDonation {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .donateNow {
    font-size: var(--font-size-base);
  }
}
